* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.content-container {
    margin-left: 20%;
    transition: margin 0.5s;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: #737373 5px solid;
    width: 90%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
}

.header-links {
    display: flex;
    margin-left: 10em;
}

.header ul {
    height: 3em;
}

.header-links li {
    margin-right: 2em;
    padding: 1em;
    border-radius: 10px;
    height: 0.7em;
    margin: 0.2em;
}

ul {
    list-style: none;
}

.hero {
    display: flex;
    padding: 5em;
}

.hero-h1 {
    text-shadow: 1px 0;
    font-size: 80px;
    color: #262626;
    margin-top: 2em;
}

.hero-subtitle {
    color: #737373;
    line-height: 2em;
}

.hero-img {
    width: 40%;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1em;
    background-color: #f2f2f2;
    height: 100%;
    width: 20%;
    overflow-x: hidden;
    transition: width 0.5s;
}

.sidebar h2 {
    font-size: 1.2em;
    border-bottom: #737373 solid 3px;
    width: 20%;
    margin: 20px;
    padding-bottom: 0.5em;
}

#menu ul > li {
    margin-bottom: 1em;
    font-family: 'Source Code Pro', monospace;
    border-bottom: #d9d9d9 solid 2px;
    width: 80%;
    margin-left: 5%;
}

#menu ul > li > a {
    text-decoration: none;
    color: #262626;
    font-size: small;
}

.sidebar-toggle {
    position: absolute;
    top: 5%;
    cursor: pointer;
}

.close {
    right: 5%;
}

.open {
    left: 1%;
    display: none;
}

.currentItem {
    background-color: #737373;
    color: #d9d9d9;
}

@media (max-width:1200px) {
    .content-container {
        margin: 0;
    }

    .hero-container {
        display: grid;
        place-items: center;
    } 

    .hero {
        flex-direction: column;
        padding: 1em;
        padding-top: 4em;
    }

    .hero-h1 {
        font-size: xx-large;
        margin-top: 0;
    }

    .hero-subtitle {
        text-align: center;
    }

    .hero-img {
        width: 100%;
    }

    .header {
        width: 100%;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }

    .header-title {
        margin-left: 25px;
    }

    .header ul {
        height: 3em;
        margin-top: 20px;
    } 

    .header-links {
        margin: 0;
    }

    .header-links li {
        margin: 0;
        height: 40%;
        border-radius: 10px;
        padding: 0;
        padding-right: 8px;
    }
    

    .sidebar {
        width: 0;
    }

    #menu ul > li > a {
        font-size: medium;
    }

    .open {
        display: inline;
        top: 2em;
    }
}